html,
body {
  overflow-x: hidden;
}

.contentRoot {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 3%;
  box-sizing: border-box;
  gap: 20px;
}

.productsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.articleSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  gap: 4px;
}

.buttonIcon {
  height: 16px;
  width: 16px;
}

.titlesContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.titleArticleNo {
  display: flex;
  border-radius: 8px;
  height: 16px;
  width: 100px;
  padding: 4px;
}

.titleProductName {
  display: flex;
  border-radius: 8px;
  height: 16px;
  width: 280px;
  padding: 4px;
}

.titleInPrice {
  border-radius: 8px;
  height: 16px;
  width: 80px;
  padding: 4px;
}

.titlePrice {
  border-radius: 8px;
  height: 16px;
  width: 100px;
  padding: 4px;
}

.titleUnit {
  border-radius: 8px;
  height: 16px;
  width: 100px;
  padding: 4px;
}

.titleInStock {
  border-radius: 8px;
  height: 16px;
  width: 100px;
  padding: 4px;
}

.titleDescription {
  border-radius: 8px;
  height: 16px;
  width: 300px;
  padding: 4px;
}

.searchPriceSection {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.searchSection {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: start;
}

.searchBarContainer {
  border: 1px solid #d9d9d9;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: end;
  width: 300px;
  border-radius: 20px;
  outline: none;
  height: 32px;
}

.searchInput::placeholder {
  padding: 2px;
  color: #bfbfbf;
}

.searchInput {
  border-radius: 32px;
  padding: 6px;
  border: none;
  outline: none;
}

.searchIconContainer {
  padding: 6px;
  background-color: #ebebeb;
  border-radius: 0 50% 50% 0;
}

.newProductSection {
  display: flex;
  gap: 10px;
  width: 50%;
  justify-content: space-between;
}

.buttonContainer {
  border: 1px solid #a2a2a2;
  color: #a2a2a2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 300px;
  border-radius: 20px;
  outline: none;
  gap: 10px;
  height: 32px;
}

.newProductButtonLabel {
  border: none;
  background: none;
  outline: none;
  color: #a2a2a2;
  cursor: pointer;
}

.titleLabel {
  font-size: 16;
  align-self: center;
  padding: 2px 4px;
}

@media (max-width: 1400px) {
  .newProductButtonLabel {
    display: none;
  }

  .menu {
    display: none;
  }
  .titleDescription {
    display: none;
  }

  .contentRoot {
    width: 98%;
    padding: 10px 1%;
  }

  .titlesContainer {
    font-size: 12px;
  }
  .titleDescription {
    display: none;
  }

  .contentRoot {
    width: 98%;
    padding: 10px 1%;
  }
}

@media (max-width: 900px) {
  .buttonContainer {
    width: 100px;
  }

  .articleSection {
    width: 90%;
  }

  .menu {
    display: none;
  }

  .contentRoot {
    width: 100%;
    padding: 10px 1%;
  }

  .titleInPrice {
    display: none;
  }

  .titleInStock {
    display: none;
  }
  .searchPriceSection {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .buttonIcon {
    height: 24px;
    width: 24px;
  }

  .newProductSection {
    width: 80%;
    align-items: center;
    justify-items: center;
  }
  .titleUnit {
    display: none;
  }
}

@media (max-width: 700px) {

  .titleArticleNo {
    display: none;
  }
}

@media (max-width: 500px) {
  .searchSection {
    width: 90%;
    align-items: center;
    justify-items: center;
  }

  .searchPriceSection {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .titleProductName {
    width: 180px;
  }

  .titlePrice {
    width: 60px;
  }
}
