.contentRoot {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 3%;
  box-sizing: border-box;
}

.productsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.articleSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  gap: 10px;
}

.titlesContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}


.titleArticleNo {
  display: flex;
  border-radius: 8px;
  height: 16px;
  width: 100px;
  padding: 4px;
}

.titleProductName {
  display: flex;
  border-radius: 8px;
  height: 16px;
  width: 300px;
  padding: 4px;
}

.titleInPrice {
  border-radius: 8px;
  height: 16px;
  width: 80px;
  padding: 4px;
}

.titlePrice {
  border-radius: 8px;
  height: 16px;
  width: 100px;
  padding: 4px;
}

.titleUnit {
  border-radius: 8px;
  height: 16px;
  width: 120px;
  padding: 4px;
}

.titleInStock {
  border-radius: 8px;
  height: 16px;
  width: 100px;
  padding: 4px;
}

.titleDescription {
  border-radius: 8px;
  height: 16px;
  width: 300px;
  padding: 4px;
}

.searchPriceSection {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.searchSection {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 50%;
  justify-content: start;
}

.searchBarContainer {
  border: 1px solid #d9d9d9;
  justify-items: center;
  display: flex;
  padding: 6px;
  width: 30%;
  border-radius: 20px;
  outline: none;
  height: 20px;
}

.searchInput::placeholder {
  padding: 2px;
  color: #bfbfbf;
}

.searchInput {
  border: none;
  outline: none;
}

.newProductSection {
  display: flex;
  gap: 10px;
  width: 40%;
  justify-content: end;
}

.buttonContainer {
  border: 1px solid #a2a2a2;
  color: #a2a2a2;
  justify-items: center;
  display: flex;
  padding: 6px;
  width: 22%;
  border-radius: 20px;
  outline: none;
  height: 20px;
}

.newProductButton {
  border: none;
  background: none;
  outline: none;
  color: #a2a2a2;
  cursor: pointer;
}



@media (max-width: 1270px) {
    .menu {
        display: none;
    }
}