.inputArticleNo {
  border-radius: 8px;
  height: 16px;
  width: 100px;
  padding: 4px;
  border: 1px solid rgb(197, 197, 197);
}

.inputProductName {
  border-radius: 8px;
  height: 16px;
  width: 280px;
  padding: 4px;
  border: 1px solid rgb(197, 197, 197);
}

.inputInPrice {
  border-radius: 8px;
  height: 16px;
  width: 80px;
  padding: 4px;
  border: 1px solid rgb(197, 197, 197);
}

.inputPrice {
  border-radius: 8px;
  height: 16px;
  width: 100px;
  padding: 4px;
  border: 1px solid rgb(197, 197, 197);
}

.inputUnit {
  border-radius: 8px;
  height: 16px;
  width: 100px;
  padding: 4px;
  border: 1px solid rgb(197, 197, 197);
}

.inputInStock {
  border-radius: 8px;
  height: 16px;
  width: 100px;
  padding: 4px;
  border: 1px solid rgb(197, 197, 197);
}

.inputDescription {
  border-radius: 8px;
  height: 16px;
  width: 300px;
  padding: 4px;
  border: 1px solid rgb(197, 197, 197);
}

.productContainer {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1px;
  column-gap: 10px;
}

.productContainer input {
  min-width: 0;
}

@media (max-width: 1400px) {
  .inputDescription {
    display: none;
  }

  
  .contentRoot {
      width: 98%;
      padding: 10px 1%;
  }
}



@media (max-width: 900px) {

  .inputInPrice {
    display: none;
  }

  .inputInStock {
    display: none;
  }
  
}


@media (max-width: 700px) {
  
  
  .inputUnit {
    display: none;
  }
  
  .inputArticleNo {
    display: none;
  }
  
}

@media (max-width: 500px) {
  
  .inputProductName {
    width: 180px;
  }

  .inputPrice {
    width: 60px;
  }
  

}