.inputArticleNo {
  border-radius: 8px;
  height: 16px;
  width: 100px;
  padding: 4px;
  border: 1px solid rgb(124, 124, 124);
}

.inputProductName {
  border-radius: 8px;
  height: 16px;
  width: 300px;
  padding: 4px;
  border: 1px solid rgb(124, 124, 124);
}

.inputInPrice {
  border-radius: 8px;
  height: 16px;
  width: 80px;
  padding: 4px;
  border: 1px solid rgb(124, 124, 124);
}

.inputPrice {
  border-radius: 8px;
  height: 16px;
  width: 100px;
  padding: 4px;
  border: 1px solid rgb(124, 124, 124);
}

.inputUnit {
  border-radius: 8px;
  height: 16px;
  width: 120px;
  padding: 4px;
  border: 1px solid rgb(124, 124, 124);
}

.inputInStock {
  border-radius: 8px;
  height: 16px;
  width: 100px;
  padding: 4px;
  border: 1px solid rgb(124, 124, 124);
}

.inputDescription {
  border-radius: 8px;
  height: 16px;
  width: 300px;
  padding: 4px;
  border: 1px solid rgb(124, 124, 124);
}

.productContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
}
