.mainContainer {
    display: flex;
    width: 100vw;
    -ms-overflow-style: none;       
    scrollbar-width: none;
    box-sizing: border-box;
}



.itemContainer {
    height: 40px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
}


.itemImage {
    height: 12px;
    width: 12px;
}

.menuName {
    align-self: center;
}

.menuContainer {
    padding: 10px 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 15vw;
}


@media (max-width: 1270px) {
    .menuContainer {
        display: none;
    }
}